@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #262626;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #1eb854;
    border-radius: 100vh;
    border: 3px solid #262626;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1eb854;
  }

  .max-content-height {
    max-height: 824px;
  }

  .video-height {
    height: 600px
  }
}

/* * {
  background: rgba(106, 255, 0, 0.2);
} */

